<main class="px-3" style="text-align: center;">
    <h1><b>listen.</b></h1>
    <p class="lead">
      <b>spectre</b> is a powerful web service <br> that allows you to listen to everything you would like: <br>notes, articles or even books. <br>
    </p>
    <p class="lead">
      <a href="/register" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">check it out!</a>
    </p>
</main>